/* GLOBAL */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: Poppins,'Roboto Mono', monospace;
}

/* 
Primary Color: #00FF9C (Bright Green)
Secondary Color: #00D2FF (Sky Blue)
Accent Color: #5EFF33 (Lime Green)
Complementary Color: #33B8FF (Electric Blue)
*/
/* GLOBAL */
/* NAVBAR */
header {
    background-color: #33B8FF;
}

li {
    list-style: none;
}

.navbar {
    overflow: hidden;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    /* border-bottom: 2px solid #00D2FF; */
    position: fixed;
    top: 0;
    background-color: #33B8FF;
    z-index: 3;
}

.nav-link {  
  transition: 1.3s;
  position: relative;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid #33B8FF;
  border-radius: 25px;
  z-index: 2;
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: white;  
  color: black;
  transition: 1.3s;
  transform: rotateX(90deg);
  z-index: -1;
}

.nav-link:hover:before {
  transform: rotateX(0deg);
}

.nav-link:hover {
  border: 2px solid #00D2FF; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00D2FF;
}

/* NAVBAR */

/* HERO*/

.hero {
  margin-top: 150px;
}

.container {
  margin: 100px auto;
  width: 90%;
  text-align: center;
}

.flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 60%;
  height: 60%;
  border-radius: 25px;
  transition: 1.3s;
  box-shadow:
   blue 0px 0px 0px 2px inset,
   rgb(0, 0, 0) 10px -10px 0px -3px,
   #00D2FF 10px -10px,
   rgb(0, 0, 0) 20px -20px 0px -3px,
   rgb(255, 217, 19) 20px -20px,
   rgb(0, 0, 0) 30px -30px 0px -3px,
   #00FF9C 30px -30px;
   transition: 1.2s;
}

.hero-img:hover,
.about-img:hover {
  transform: scale(0.9);
} 


.col {
  width: 100%;
}

h1 {
  font-size: 46px;
  color: #33B8FF;
}

h2 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 50px;
}

h3 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.col-a {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  background-color: #33B8FF;
  border-radius: 25px;
}


.col-a:hover {
  border: 2px solid white;
  background-color: white; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/*  ABOUT*/

.about {
  background-color: rgb(21, 21, 21);
  padding: 2px 0px;
  color: white;
}

.about-img {
  width: 60%;
  height: 60%;
  border-radius: 25px;
  transition: 1.2s;
  box-shadow:
  #33B8FF -5px 5px,
  #1ea5ee -10px 10px,
  #0c86c7 -15px 15px,
  #046294 -20px 20px,
  #003d5e -25px 25px;
}

/*  ABOUT*/

/*  SKILLS*/

#skills {
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
}

.card {
  background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 25px;
  width: 80%;
  margin: 10px;
  height: 380px;
  padding-top: 15px;
  padding-bottom: 15px;
}

i {
  font-size: 35px;
  color: #33B8FF;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 1.4s;
}

i:hover {
 transform: rotate(360deg);
}
/*  SKILLS*/
/*  EXPERIENCE*/
.experience {
  color: white;
}

.experience-card-l,
.experience-card-s {
  background-color: rgb(21, 21, 21);
  border-radius: 25px;
  padding: 25px 10px;
  margin: 10px;
}

.exp {
  color: #00D2FF;
}


/*  EXPERIENCE*/
/*  PORTFOLIO*/
.portfolio {
  color: white;
}

.card-portfolio {
  background-color: rgb(21, 21, 21);
  border-radius: 25px;
  padding: 35px 10px;
  margin: 10px;
}

.img-portfolio{
  width: 90%;
  border-radius: 25px;
}

.btn-portfolio {
  margin: 15px;
  width: 90%;
  border-radius: 25px;
  height: 40px;
  background-color: #33B8FF;
  border: none;
  color: white;
  font-size: 26px;
  letter-spacing: 2px;
  transition: 0.8s;
}

.btn-portfolio:hover {
  background-color: black;
  color: #00D2FF;
}

/*  PORTFOLIO*/
/*  CONTACT*/
/*  CONTACT*/
/*  FOOTER*/

.footer-top {
  margin: 50px;
}

.footer-link a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin: 5px;
}

footer p {
  text-align: left;
}

.footer-link a:hover{
  color: #00D2FF;
}


.footer-p {
  text-align: center;
}

/*  FOOTER*/

/* Media */
@media(max-width:880px) {
  .hamburguer {
    display: block;
    background-color: black;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -120%;
    top: 55px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
   
  }

  .nav-menu.active {
    left: 0;
  }
}


/* Media */